[submodule "lib/chibios"]
	path = lib/chibios
	url = https://github.com/OpenDucky/ChibiOS.git
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://github.com/OpenDucky/ChibiOS-Contrib.git
